version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: food_delivery_mongo
    restart: unless-stopped
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_DATABASE: food_delivery
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7-alpine
    container_name: food_delivery_redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data

volumes:
  mongo-data:
  redis-data:
